<% layout('./layouts/boilerplate.ejs') %>
<!-- used to link to boilerplate(ejs-mate) -->

<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Edit</h3>
      <form
        action="/listings/<%=data._id%>?_method=PUT"
        method="post"
        novalidate
        class="needs-validation"
      >
        <div class="md3">
          <label for="title" class="form-label">Title</label>
          <input type="text" value='<%=data.title%>'' name="listing[title]"
          class="form-control" required />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter a valid title.</div>
        </div>
        <br />
        <div>
          <label for="description" class="form-label">Description</label>
          <textarea
            cols="30"
            rows="10"
            name="listing[description]"
            class="form-control"
            style="height: 4.5rem"
            required
          >
<%-data.description%></textarea
          >
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter a small description</div>
        </div>
        <br />
        <div>
          <label for="price" class="form-label">Price</label>
          <input
            type="text"
            value="<%=data.price%>"
            name="listing[price]"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter a valid price.</div>
        </div>
        <br />
        <div>
          <label for="image" class="form-label">Image URL</label>
          <input
            type="text"
            value="<%=data.image%>"
            name="listing[image]"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter a valid image URL.</div>
        </div>
        <br />
        <div>
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            value="<%=data.country%>"
            name="listing[country]"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter a valid country.</div>
        </div>
        <br />
        <div>
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            value="<%=data.location%>"
            name="listing[location]"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please enter a valid location.</div>
        </div>
        <br />
        <button class="btn btn-dark" type="submit">Edit</button>
      </form>
    </div>
  </div>
</body>
